html{
	scroll-behavior: smooth;
}
p{
	font-family: 'Oswald', sans-serif;
	color: rgba(0,0,128,1);
}
section{
	margin-top: 1%;
}
.section-heading{
	padding: 0% 0% 5%;
	color: rgba(0,0,128,1);
}
.coloured-section{
	background: rgba(0,0,128,1);
	color: rgba(255,255,255,1);
	
}
.navbar{
	padding-top: 20px;
	padding-bottom: 20px;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 53%, rgba(253,253,255,1) 69%, rgba(244,245,252,1) 85%, rgba(239,239,249,1) 92%, rgba(217,218,252,1) 100%);
	}
.container-fluid{
	padding: 0px;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,128,1);
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar-light .navbar-brand:hover{
	opacity: 50%;
}
.nav-item{
	padding: 0 15px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,128,1);
    font-size: 1.25rem;
}

.navbar-light .navbar-nav .nav-link:hover{
	opacity: 50%;

}
.navbar-light .navbar-nav .active>.nav-link{
	color:#ffb366;
}

.navbar-light .navbar-nav .active>.nav-link:hover{
	opacity: 50%;
}
.banner{
	width: 25%;
	position: relative;
	background: rgba(0,0,128,.7);
	text-align: center;
	padding-bottom: 17px;
	margin-top: -505px;
	margin-left: 200px;
}
.banner-heading{
	color:rgba(255,255,255,1);
	font-size: 2rem;
	font-weight: 500;
	padding: 20px 16px 15px;
}
.banner-paragraph{
	color:rgba(255,255,255,1);
	font-size: 1.5rem;
	font-weight: 400;
	padding: 15px 16px 15px;
}
.banner-line{
	
	width: 3px; 
	width: 70%;
	background-color:rgba(255,255,255,1);
	
}

.banner-price{
	color:rgba(255,255,255,1);
	font-size: 1.5rem;
	font-weight: 500;
	padding: 10px 16px 10px;
}
.banner .btn-outline-primary{
	border-color: rgba(255,255,255,1);
	color:rgba(255,255,255,1);
	padding: 0.3%
	margin-bottom: 15px;
	
}
.banner .btn-outline-primary:hover{
	opacity: 50%;
	background: rgba(255,255,255,0);
	border-color: rgba(255,255,255,1);
	color:rgba(255,255,255,1);
}
/* Latest properties*/
#Properties{
	position: static;
}
.center{
	padding: 7% 10%;
	text-align: center;
}
.property-type{
	font-weight: 700;
}
.property-price{
	font-weight: 300;
}
.property-desc{
	font-weight: 400;
	color:#8f8f8f;
}
.btn-Properties{
	margin-bottom: 3%;
}
.btn-outline-primary {
    color: rgba(0,0,128,1);
    border-color: rgba(0,0,128,1);
}
.btn-outline-primary:hover {
    background: rgba(0,0,128,.7);
    border-color: rgba(0,0,128,.7);
    color: #fff;
}
/*Feature*/
.feature-desc{
	text-align: left;
	color:#fff;
}
.light-heading{
	color: #fff;
}
.Points{
	
	font-size: 1.5rem;
	line-height: 3rem;
	text-align: left;
}
/*Agents Page*/
.Agent-Name{
	font-weight: 500;
	padding: 4% 0%;
	font-size: 1.5rem;
}
/*Clients*/
.blur{
	background-image: url("../Images/blur-background-fixed.jpg");
	background-attachment: fixed;
}
.client-name{
	color:#ffb366;
	
}

.bracket{
	padding-top: 5%;
	color:#ffb366;
	font-size: 2rem;
	font-weight: 700;
}
.row-client{
	padding:5% 0% 0%; 
}
.client-comment{
	color:rgba(255,255,255,1);
}
/*Contact Us*/
.Contact-label{
	font-weight: 500;
	text-align: left;
	font-size: 1.5rem;
}
.Address{
	width:50%;
	text-align: left;
	color:#8f8f8f;
}
 #map {
   width: 100%;
   height: 200px;
   background-color: grey;
 }
 .space{
 	margin: 1% 0%;
 }
 .form-group{
 	margin-top: 13%;
 }
 .submit-form-column{
 	padding-left: 10%;
 	padding-top: 0%;

 }
 /*footer*/
 #footer{
 	background-color:#ffb366;
 	height: 10%;
 	text-align: center;
 }
 .social-icon{
 	padding: 2% 0.5% 1%;
 }
 .copyright{
 	margin-bottom: 0px;
 	color: #fff;
 	padding: 1% 0%;
 }
@media (max-width: 479px){

 .submit-form-column{
 	padding-left: 0%;
 	padding-top: 10%;
 }
}
 @media (max-width: 1028px){

.banner{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background: rgba(0,0,128,.7);
	text-align: center;
	padding-bottom: 15px;
	justify-content: center;	
}
.blur{
	background-image: url("../Images/blur-background-scroll.jpg");
	background-attachment: scroll;
}


 .submit-form-column{
 	padding-left: 0%;
 	padding-top: 10%;
 }
}

/*Priyank Tyagi*/
